{%
 set classes = [
    'mt-3',
    'mb-3',
    'line-thru',
    'text-center',
    'text-uppercase',
  ]
%}
<span {{ attributes.addClass(classes) }}>
  <span>or</span>
</span>
<div class="mb-1 text-center">
  <a class="btn btn-facebook mb-3 ml-1 mr-1" href="{{ url['fb'] }}">Connect with <i class="fab fa-facebook-f"></i></a>
  {#    <a class="btn btn-twitter mb-3 ml-1 mr-1" href="#">Connect with <i class="fab fa-twitter"></i></a>#}
  <a class="btn btn-gplus mb-3 ml-1 mr-1" href="{{ url['google'] }}">Connect with <i class="fab fa-google"></i></a>
</div>
