{#
/**
 * @file
 * Template for the Search block form.
 */
#}
{%
  set classes = [
    'form-inline',
    'search',
    'nav-form',
  ]
%}
<form{{ attributes.addClass(classes) }}>
  <div class="input-group">
    {{ children }}
  </div>
</form>
