{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% if type != 'file' %}
  {% set css_classes = ['form-control'] %}
{% endif %}

<input{{ attributes.addClass(css_classes).removeClass('form-text').removeClass('required') }} />{{ children }}
