{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% include '@rad_dlh/button/button.twig' with {
  type: 'primary',
  tag: 'button',
  value: element['#value'],
  attributes: attributes,
} %}
