{#
/**
 * @file
 * Template for the branding block.
 */
#}
{% embed '@radix/block/block.twig' with {
  html_tag: '',
} %}

{% block content %}
  {% include '@rad_dlh/header/header-brand.twig' with {
    text: site_name,
    image: site_logo,
    width: 75,
    height: 'auto',
    path: path('<front>'),
    alt: elements.content.site_name['#markup'] ~ ' logo' ,
    utility_classes: ['logo'],
  } %}
{% endblock %}

{% endembed %}
