// Page: Header
// -----------------------------------------------------------------------------
.page__header {

}

.toolbar-fixed {
  &.toolbar-horizontal {
    top: 37px;
    &.toolbar-tray-open {
      .header {
        top: 77px;
      }
    }
  }
  &.toolbar-vertical {
    top: 37px;
  }
}
