{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page">

  <main class="pt-5 pb-5">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    {% if page.content %}
      <div class="page__content">
        <div class="container-fluid">
          <section class="body">

            {% embed '@rad_dlh/header/header.twig' with {
              container: 'logo-container'
            } %}

              {% block logo %}
                {% if page.header_branding %}
                  {{ page.header_branding }}
                {% endif %}
              {% endblock %}

              {% block left %}
                {% if page.header_left %}
                  {{ page.header_left }}
                {% endif %}
              {% endblock %}

              {% block middle %}
                {% if page.header_middle %}
                  {{ page.header_middle }}
                {% endif %}
              {% endblock %}

              {% block right %}
                {% if page.header_right %}
                  {{ page.header_right }}
                {% endif %}
              {% endblock %}
            {% endembed %}

            <div class="inner-wrapper">

              <section role="main" class="content-body">

                <!-- start: page -->
                <div class="row">
                  <div class="col-xl-12 text-center">
                    {{ page.content }}
                  </div>
                </div>
                <!-- end: page -->
              </section>
            </div>

          </section>
        </div>
      </div>
    {% endif %}
  </main>

  {% if page.footer %}
    <footer class="page__footer">
      <div class="container">
        <div class="d-flex justify-content-md-between align-items-md-center">
          {{ page.footer }}
        </div>
      </div>
    </footer>
  {% endif %}
</div>
