{#
/**
 * @file
 * Template for the main page.
 */
#}
<!-- start: page -->
<section class="body-sign">
  <div class="center-sign">
    <a href="{{ path('<front>') }}" class="logo float-left" title="{{ 'Home'|t }}" rel="home">
      <img src="{{ path_logo }}" height="54" alt="{{ 'Home'|t }}" />
    </a>

    <div class="panel card-sign">
      <div class="card-title-sign mt-3 text-right">
        <h2 class="title text-uppercase font-weight-bold m-0"><i class="bx bx-user-circle mr-1 text-6 position-relative top-5"></i> {{ 'Sign Up'|t }}</h2>
      </div>
      <div class="card-body">
        {% if page.content %}
          {{ page.content }}
        {% endif %}
      </div>
    </div>

    <p class="text-center text-muted mt-3 mb-3">&copy; Copyright {{ "now"|date('Y') }}. All Rights Reserved.</p>
  </div>
</section>
<!-- end: page -->
