<div id="userbox" class="userbox">
  <a href="#" data-toggle="dropdown">
    <figure class="profile-picture">
      <img src="{{ user_picture }}" alt="{{ username }}" class="rounded-circle" data-lock-picture="{{ user_picture }}" />
    </figure>
    <div class="profile-info" data-lock-name="{{ username }}" data-lock-email="{{ email }}">
      <span class="name">{{ username }}</span>
      <span class="role">{{ role }}</span>
    </div>

    <i class="fa custom-caret"></i>
  </a>

  <div class="dropdown-menu">
    <ul class="list-unstyled mb-2">
      <li class="divider"></li>
      <li>
        <a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="bx bx-lock"></i> Lock Screen</a>
      </li>
      {% for item in list %}
        <li>
          <a role="menuitem" tabindex="-1" href="{{ item.link }}"><i class="bx bx-{{ item.class }}"></i> {{ item.label }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
