{#
/**
 * @file
 * Template for a button component.
 *
 * Available config:
 * - type: primary | secondary | success | danger | warning | info | light | dark
 * - outline: true | false
 * - tag: button, a, input
 * - value: string
 * - attributes: Attributes array.
 */
#}
{% set css_classes = [
  'btn',
  'btn-lg',
  type ? 'btn-' ~ type
] %}
{% if tag == 'input' %}
  <input{{ attributes.addClass(css_classes) }} />
{% else %}
  <{{ tag }}{{ attributes.addClass(css_classes) }}>{{ value }}</{{ tag }}>
{% endif %}


